In [19]:
import pandas as pd
import scipy.stats as stats1
from scipy.stats import shapiro
import numpy as np
from scipy.stats import mannwhitneyu
from scipy import stats as stats2

In [2]:
champions = pd.read_csv('champions.csv')
stats = pd.read_csv('stats(2).csv')

In [3]:
ch_2020 = stats[(stats['season_id'] == 2) & (stats['team_id'] == 26)]
mean_ch_2020 = ch_2020['innate_ability'].mean()
print(mean_ch_2020)
ch_2020

0.14272727272727273

,id,season_id,player_id,Games Played,Points,Goals,Age,Position,team_id,experience,innate_ability
83,84,2,115,61,1717,626,26,PF,26,6,0.23
103,104,2,48,68,1385,511,29,SF,26,7,0.24
136,137,2,160,59,1046,414,30,PG,26,10,0.33
138,139,2,177,1,9,3,25,SF,26,2,0.08
139,140,2,159,1,16,6,25,SG,26,0,0.00
140,141,2,77,66,688,253,24,SG,26,2,0.08
141,142,2,95,70,859,322,32,C,26,11,0.34
142,143,2,78,69,468,168,28,SG,26,5,0.18
143,144,2,133,66,754,313,25,C,26,4,0.16
144,145,2,157,20,52,18,35,PF,26,8,0.23
145,146,2,119,70,701,250,27,SG,26,2,0.07
146,147,2,132,37,227,71,33,PG,26,12,0.36
147,148,2,122,21,138,45,32,PG,26,11,0.34
148,149,2,61,18,45,18,30,SF,26,2,0.07
149,150,2,104,14,44,16,24,PF,26,0,0.00
150,151,2,141,57,166,67,28,SF,26,1,0.04
151,152,2,23,30,171,62,22,SF,26,0,0.00
152,153,2,128,12,43,16,24,PF,26,1,0.04
153,154,2,28,30,89,32,24,SG,26,0,0.00
154,155,2,42,8,14,4,28,SF,26,5,0.18
155,156,2,181,5,15,5,22,SF,26,2,0.09
156,157,2,70,7,2,1,24,PG,26,2,0.08

In [4]:
ch_2021 = stats[(stats['season_id'] == 3) & (stats['team_id'] == 13)]
mean_ch_2021 = ch_2021['innate_ability'].mean()
print(mean_ch_2021)
ch_2021

0.15

,id,season_id,player_id,Games Played,Points,Goals,Age,Position,team_id,experience,innate_ability
170,171,3,99,64,1630,535,33,PG,13,11,0.33
185,186,3,67,76,1405,474,22,SG,13,1,0.05
211,212,3,6,73,1256,475,26,SF,13,6,0.23
217,218,3,170,32,652,246,31,SG,13,7,0.23
218,219,3,10,46,346,135,31,PF,13,8,0.26
219,220,3,96,63,515,193,28,PF,13,8,0.29
220,221,3,152,82,491,208,25,C,13,5,0.20
221,222,3,149,63,467,169,29,SG,13,2,0.07
222,223,3,90,31,124,46,38,SF,13,17,0.45
223,224,3,93,71,502,212,29,SG,13,4,0.14
224,225,3,22,70,652,236,19,SF,13,0,0.00
225,226,3,52,71,433,160,33,C,13,6,0.18
226,227,3,131,73,298,115,28,SF,13,1,0.04
227,228,3,4,52,228,80,19,SG,13,0,0.00
228,229,3,140,34,67,24,26,PG,13,0,0.00
229,230,3,55,4,6,3,24,PG,13,0,0.00
230,231,3,15,11,30,12,25,SG,13,2,0.08

In [5]:
ch_2022 = stats[(stats['season_id'] == 4) & (stats['team_id'] == 14)]
mean_ch_2022 = ch_2022['innate_ability'].mean()
print(mean_ch_2022)
ch_2022

0.15666666666666665

,id,season_id,player_id,Games Played,Points,Goals,Age,Position,team_id,experience,innate_ability
247,248,4,66,69,1690,646,27,C,14,6,0.22
289,290,4,56,65,1298,473,25,PG,14,4,0.16
291,292,4,120,76,822,292,29,SG,14,8,0.28
292,293,4,118,68,1109,429,27,PF,14,7,0.26
293,294,4,37,62,1080,398,24,SF,14,2,0.08
294,295,4,30,80,923,358,26,SF,14,3,0.12
295,296,4,102,16,127,49,32,PG,14,10,0.31
296,297,4,40,56,437,160,36,PF,14,13,0.36
297,298,4,3,42,508,173,22,PG,14,0,0.00
298,299,4,156,76,360,143,21,SG,14,0,0.00
299,300,4,188,39,199,88,34,C,14,13,0.38
300,301,4,62,60,297,108,25,PF,14,1,0.04
301,302,4,150,53,277,110,22,PF,14,2,0.09
302,303,4,190,18,83,33,25,C,14,4,0.16
303,304,4,47,43,108,52,34,PG,14,11,0.32
304,305,4,74,35,81,25,27,SG,14,1,0.04
305,306,4,169,23,75,29,20,SG,14,0,0.00
306,307,4,106,17,21,8,25,SF,14,0,0.00

In [6]:
ch_2023 = stats[(stats['season_id'] == 5) & (stats['team_id'] == 15)]
mean_ch_2023 = ch_2023['innate_ability'].mean()
print(mean_ch_2023)
ch_2023

0.1336842105263158

,id,season_id,player_id,Games Played,Points,Goals,Age,Position,team_id,experience,innate_ability
314,315,5,9,74,1987,672,25,PF,15,5,0.20
330,331,5,121,70,1610,627,27,SF,15,6,0.22
367,368,5,160,69,860,331,33,PG,15,13,0.39
368,369,5,134,73,1107,387,29,SG,15,5,0.17
369,370,5,8,57,1145,388,28,C,15,6,0.21
370,371,5,89,65,562,214,37,C,15,15,0.41
371,372,5,86,82,787,297,26,PG,15,3,0.12
372,373,5,44,79,712,249,26,SF,15,1,0.04
373,374,5,164,63,334,142,28,C,15,5,0.18
374,375,5,46,20,80,34,25,PF,15,3,0.12
375,376,5,166,28,154,67,24,C,15,1,0.04
376,377,5,167,55,201,68,25,SF,15,3,0.12
377,378,5,34,41,162,57,26,SF,15,4,0.15
378,379,5,68,9,15,6,19,SF,15,0,0.00
379,380,5,27,3,11,4,24,PF,15,0,0.00
380,381,5,69,17,35,13,21,SG,15,1,0.05
381,382,5,165,24,56,19,24,PG,15,1,0.04
382,383,5,83,19,53,21,26,PF,15,2,0.08
383,384,5,192,8,16,5,21,SG,15,0,0.00

In [7]:
group1_data = pd.concat([ch_2020['innate_ability'], ch_2021['innate_ability']])
group2_data = pd.concat([ch_2022['innate_ability'], ch_2023['innate_ability']])

In [8]:
#checking if innate_ability data is normal.
stat1, p1 = shapiro(group1_data)
print(f"Statistic: {stat1}, p-value: {p1}")

if p1 > 0.05:
    print("Group1 data is normal.")
else:
    print("Group1 data is not normal.")

#-----------------------------------------------#
stat2, p2 = shapiro(group2_data)
print(f"Statistic: {stat2}, p-value: {p2}")

if p2 > 0.05:
    print("Group2 data is normal.")
else:
    print("Group2 data is not normal.")

Statistic: 0.9102918821567823, p-value: 0.004411422302568446
Group1 data is not normal.
Statistic: 0.9112962918492803, p-value: 0.006166073395478058
Group2 data is not normal.

In [9]:
#We realized that the data is not normal.
#We need to see if we can normalize it or not! For this, we're gonna use Z-score normalization.

In [10]:
mean1 = np.mean(group1_data)
std1 = np.std(group1_data)

z_scores1 = (group1_data - mean1) / std1
print(z_scores1)

83     0.672507
103    0.752470
136    1.472134
138   -0.526934
139   -1.166635
140   -0.526934
141    1.552097
142    0.272693
143    0.112768
144    0.672507
145   -0.606896
146    1.712022
147    1.552097
148   -0.606896
149   -1.166635
150   -0.846785
151   -1.166635
152   -0.846785
153   -1.166635
154    0.272693
155   -0.446971
156   -0.526934
170    1.472134
185   -0.766822
211    0.672507
217    0.672507
218    0.912395
219    1.152283
220    0.432619
221   -0.606896
222    2.431686
223   -0.047157
224   -1.166635
225    0.272693
226   -0.846785
227   -1.166635
228   -1.166635
229   -1.166635
230   -0.526934
Name: innate_ability, dtype: float64

In [11]:
mean2 = np.mean(group2_data)
std2 = np.std(group2_data)

z_scores2 = (group2_data - mean1) / std2
print(z_scores2)

247    0.598542
289    0.113909
291    1.083175
292    0.921631
293   -0.532268
294   -0.209179
295    1.325492
296    1.729353
297   -1.178445
298   -1.178445
299    1.890897
300   -0.855357
301   -0.451496
302    0.113909
303    1.406264
304   -0.855357
305   -1.178445
306   -1.178445
314    0.436998
330    0.598542
367    1.971669
368    0.194682
369    0.517770
370    2.133214
371   -0.209179
372   -0.855357
373    0.275454
374   -0.209179
375   -0.855357
376   -0.209179
377    0.033137
378   -1.178445
379   -1.178445
380   -0.774584
381   -0.855357
382   -0.532268
383   -1.178445
Name: innate_ability, dtype: float64

In [12]:
#again checking are they normal rn?
stat1, p1 = shapiro(z_scores1)
print(f"Statistic: {stat1}, p-value: {p1}")

if p1 > 0.05:
    print("Group1 data is normal.")
else:
    print("Group1 data is not normal.")
#-----------------------------------------------#
stat2, p2 = shapiro(z_scores2)
print(f"Statistic: {stat2}, p-value: {p2}")

if p2 > 0.05:
    print("Group2 data is normal.")
else:
    print("Group2 data is not normal.")

Statistic: 0.910291882156782, p-value: 0.004411422302568372
Group1 data is not normal.
Statistic: 0.9112962918492803, p-value: 0.006166073395478058
Group2 data is not normal.

In [13]:
#As we see, data is still not normal, so we must go on plan B, we should use non-parametric methods like Mann-Whitney U!

In [14]:
stat, p_value = mannwhitneyu(group1_data, group2_data)

print("U Statistic:", stat)
print("P-value:", p_value)

if p_value < 0.05:
    print("We reject the null hypothesis: The distributions are different.")
else:
    print("We fail to reject the null hypothesis: The distributions are the same.")

U Statistic: 728.5
P-value: 0.9458753699039614
We fail to reject the null hypothesis: The distributions are the same.

In [15]:
#So it means that: The average innate ability of players in the champion team, has not increased significantly.

## validation of Mann-Whitney U test using the confidence interval method

In [23]:
sample_mean_group1_data, sample_mean_group2_data = np.mean(group1_data), np.mean(group2_data)
sample_std_group1_data, sample_std_group2_data = np.std(group1_data, ddof=1), np.std(group2_data, ddof=1)  # ddof=1 for sample standard deviation
sample_mean_diff = sample_mean_group1_data - sample_mean_group2_data

standard_error_group1_data = sample_std_group1_data / np.sqrt(len(group1_data))
standard_error_group2_data = sample_std_group2_data / np.sqrt(len(group2_data))
standard_error_diff = np.sqrt((sample_std_group1_data**2 / len(group1_data)) + (sample_std_group2_data** 2 / len(group2_data)))
                              
print(f'group1_data  mean: {sample_mean_group1_data:.2f} | group1_data  std: {sample_std_group1_data:.2f}')
print(f'group2_data  mean: {sample_mean_group2_data:.2f} | group2_data  std: {sample_std_group2_data:.2f}')

# Determine the critical value for a 95% confidence interval (two-tailed)
confidence_level = 0.95
df_group1_data = len(group1_data) - 1
df_group2_data = len(group2_data) - 1
df_diff = len(group1_data) - 1 + len(group2_data) - 1

critical_value_group1_data = stats2.t.ppf((1 + confidence_level) / 2, df_group1_data)
critical_value_group2_data = stats2.t.ppf((1 + confidence_level) / 2, df_group2_data)
critical_value_diff = stats2.t.ppf((1 + confidence_level) / 2, df_diff)

# margin of error
margin_of_error_group1_data = critical_value_group1_data * standard_error_group1_data
margin_of_error_group2_data = critical_value_group2_data * standard_error_group2_data
margin_of_error_diff = critical_value_diff * standard_error_diff

# confidence interval
confidence_interval_group1_data = (sample_mean_group1_data - margin_of_error_group1_data, sample_mean_group1_data + margin_of_error_group1_data)
confidence_interval_group2_data = (sample_mean_group2_data - margin_of_error_group2_data, sample_mean_group2_data + margin_of_error_group2_data)
confidence_interval_diff = (sample_mean_diff - margin_of_error_diff, sample_mean_diff + margin_of_error_diff)
lower_lim, upper_lim = confidence_interval_diff

print(f'confidence interval for group1 is {confidence_interval_group1_data}')
print(f'confidence interval for group2 is {confidence_interval_group2_data}')
print(f'confidence interval for different is {confidence_interval_diff}')


if (lower_lim < 0 and upper_lim < 0) or ((lower_lim > 0 and upper_lim > 0)):
    print("Reject the null hypothesis: The average innate ability of players in the champion team, has increased significantly.")
    if lower_lim > 0:
        print("The average innate ability of group1 is higher than group2.")
    else:
        print("The average innate ability of group2 is higher than group1.")
else:
    print("Fail to reject the null hypothesis: The average innate ability of players in the champion team, has not increased significantly.")

group1_data  mean: 0.15 | group1_data  std: 0.13
group2_data  mean: 0.14 | group2_data  std: 0.13
confidence interval for group1 is (0.10482827681326819, 0.18696659498160362)
confidence interval for group2 is (0.10301682647413213, 0.18671290325559758)
confidence interval for different is (-0.056625209671060425, 0.0586903517362025)
Fail to reject the null hypothesis: The average innate ability of players in the champion team, has not increased significantly.